// Remove padding in heading level control popover since the toolbar buttons already have padding.
.block-library-heading-level-dropdown .components-popover__content {
	padding: 0;
	// TODO: Find a less hardcoded way of doing this. `max-content` works on
	// Chromium, but it results in a scrollbar on Safari, and isn't supported
	// at all in IE11.
	min-width: 230px;
}

.block-library-heading__heading-level-dropdown-button-invalid-indicator {
	background-color: $alert-yellow;
	height: 8px;
	width: 8px;
	position: absolute;
	bottom: 6px;
	left: 20px;
	border-radius: 50%;
}

// The dropdown already has a border, so we can remove the one on the heading
// level toolbar.
.block-library-heading-level-toolbar {
	border: none;
}

.block-library-heading__heading-level-checker-warning {
	margin: 0;
}
